doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://www.gstatic.com/firebasejs/4.6.1/firebase.js')
    script.
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyDttz86HXSQ_IsBK_kD9sp_m3Bkq9UJsJM",
          authDomain: "fir-skeleton-ccee4.firebaseapp.com",
          databaseURL: "https://fir-skeleton-ccee4.firebaseio.com",
          projectId: "fir-skeleton-ccee4",
          storageBucket: "fir-skeleton-ccee4.appspot.com",
          messagingSenderId: "259691092819"
      };
      firebase.initializeApp(config);